body{
    margin:0;
    padding:0;
    background-color: #ccc;
    display: flex;
    height:100vh;
}

#texte{
    background-color: black;
    width: 25%;
    color: #ccc;
    text-transform: uppercase;
    font-family: arial;
    font-size: 45px;
    writing-mode: vertical-rl;
    display:flex;
    justify-content:center;
    align-items:center;
}

#image{
    width: 75%;
    display: flex;
    justify-content:center;
    align-items:center;
}

#box{
    width:640px;
}

.small{
    width:32.8%;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
}

#small{
    display:flex;
    justify-content: space-between;
}
.small:hover{
    opacity:1;
}


@media screen and (max-width:900px) {
    #texte{
        display:none;
    }
    #image{
        width: 90%;
        margin:auto;
    }
    .small{
        width:33%;
   
    }
    .big{
        width:100%;
        
    }

}